.delivery-duplicate__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.delivery-duplicate__create {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: #000;
  border-radius: 0.5rem;
  height: 35px;
  cursor: pointer;
  max-width: 330px;
  width: 100%;
  color: #fff;
  border: none;
  transition: all 0.4s ease-in-out;
}

.delivery-duplicate__create:hover {
  background: #ff7f00;
}

.delivery-duplicate__create:active {
  background: #d96e3a;
}

.delivery-duplicate__document {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 2px solid #000;
  background: #fff;
  border-radius: 0.5rem;
  height: 35px;
  cursor: pointer;
  max-width: 330px;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.delivery-duplicate__document svg {
  transition: all 0.4s ease-in-out;
}

.delivery-duplicate__document:hover {
  border: 2px solid transparent;
  color: #fff;
  background: #ff7f00;
}

.delivery-duplicate__document:hover svg {
  fill: #fff;
}

.delivery-duplicate__document:active {
  border: 2px solid transparent;
  background: #d96e3a;
}

.delivery-duplicate__document:active svg {
  fill: #fff;
}

@media screen and (max-width: 500px) {
  .delivery-duplicate__create {
    max-width: 100%;
  }

  .delivery-duplicate__document {
    max-width: 100%;
  }

  .delivery-duplicate__document:hover {
    border: 2px solid #000;
    color: #000;
    background: #fff;
  }

  .delivery-duplicate__document:hover svg {
    fill: #000;
  }

  .delivery-duplicate__create:hover {
    background: #000;
  }

  .delivery-duplicate__document:active {
    border: 2px solid transparent;
    background: #d96e3a;
  }
  
  .delivery-duplicate__document:active svg {
    fill: #fff;
  }

  .delivery-duplicate__create:active {
    background: #d96e3a;
  }
}