.rate__container {
  padding: 1.5rem;
}

.rate__create-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.rate__title {
  font-size: 1.5em;
  margin: 0;
}

.rate__title:not(:first-of-type) {
  margin-top: 1rem;
}

.rate__form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.rate__input {
  font-size: 1.125rem;
  line-height: 1.25rem;
  width: 80px;
  height: 30px;
  border-radius: 0.5rem;
  border: 2px solid #000;
  text-align: center;
}

.rate__submit {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  width: 140px;
  height: 40px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.rate__submit:hover {
  background: #ff7f00;
}

.rate__submit:active {
  background: #d96e3a;
}

.rate__delivery-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 500;
}

.rate__delivery-input {
  width: 5rem;
}

.rate__commission-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  .rate__submit:hover {
    background: #000;
  }
  
  .rate__submit:active {
    background: #d96e3a;
  }
}