.split {
  padding: 1rem 1.5rem 0;
}

.split__container {
  background: #fff;
  border-radius: 0.5rem;
  margin: 0;
  padding: 1.5rem 1rem;
}

.split__day {
  margin-top: 1rem;
}

.split__paid-at {
  margin-top: 0.5rem;
}

.split__paid-dropdown {
  margin-top: 1rem;
  cursor: pointer;
}

.split__paid-dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.split__paid-dropdown-title {
  margin: 0.5rem 0;
}

.split__paid-dropdown-container {
  max-height: 0;
  overflow: hidden;
}

.split__paid-dropdown-container_active {
  max-height: 10000px;
  overflow: visible;
}