.orders-list {
  padding: 1.5rem 1.5rem 0;
}

.orders-list__navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
  background: #fff;
  border-radius: 0.5rem;
  overflow: scroll;
  margin: 0;
  padding: 0 1rem;
}

.orders-list__navigation-text {
  position: relative;
  margin: 0;
  padding: 1rem 0;
  cursor: pointer;
  white-space: nowrap;
}

.orders-list__navigation-text_active {
  position: relative;
}

.orders-list__navigation-text_active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: greenyellow;
}