.users__create-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95%;
  margin: 2.5rem auto 0;
}

.users__create-title {
  font-size: 1.5em;
  margin: 0;
}

.users__create-input-container {
  display: flex;
  flex-direction: column;
}

.users__create-input {
  width: 320px;
  height: 30px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  border: 2px solid #000;
}

.users__create-select {
  width: 334px;
  height: 36px;
  cursor: pointer;
}

.users__create-submit {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  width: 320px;
  height: 40px;
  background: #000;
  color: #fff;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  margin-top: 1rem;
}

.users__create-submit:hover {
  background: #ff7f00;
}

.users__create-submit:active {
  background: #d96e3a;
}

.red-star {
  color: red;
}

.users__table-title {
  font-size: 1.5em;
  margin: 2.5rem 0 0 1.5rem;
}

.users__table-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border: 1px solid rgb(193, 193, 193);
  overflow: scroll;
  padding: 3.5rem 1rem 1rem;
  margin-top: 1rem;
}

.users__table-item-delete {
  font-weight: 600;
  position: absolute;
  left: 0rem;
  top: 0rem;
  background: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  width: 5rem;
  height: 30px;
}

.users__table-item-delete:hover {
  background: #ff7f00;
}

.users__table-item-delete:active {
  background: #d96e3a;
}

.users__table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  background: #fff;
  margin: 0 0 0 auto;
}

.users__table-name-container {
  display: flex;
  justify-content: center;
}

.users__table-name {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #000;
  min-width: 250px;
  max-width: 250px;
}

.users__table-list {
  margin: 0;
  padding: 0;
  background: #fff;
}

.users__table-list-item {
  position: relative;
  display: flex;
  border-bottom: 1px solid #000;
}

.users__table-delete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  left: -3rem;
  bottom: 50%;
  transform: translateY(50%);
  cursor: pointer;
}

.users__table-delete path {
  transition: all 0.4s ease-in-out;
}

.users__table-delete:hover path {
  fill: red;
}

.users__table-delete:active {
  background: #fff;
}

.users__table-list-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100%;
  min-width: 250px;
  max-width: 250px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin: 0;
  padding: 1rem 0;
}

@media screen and (max-width: 500px) {
  .users__create-form {
    width: auto;
    margin: 1.5rem 0 0 1rem;
  }

  .users__create-select {
    width: 314px;
  }

  .users__table-container {
    width: auto;
  }

  .users__table {
    width: 100%;
    margin-left: 3rem;
  }

  .users__table-item-delete {
    right: inherit;
    left: 4rem;
  }

  .users__create-submit:hover {
    border: 2px solid #000;
    background: #000;
  }
  
  .users__create-submit:active {
    background: #d96e3a;
  }

  .users__table-item-delete:hover {
    background: #000;
  }

  .users__table-item-delete:active {
    background: #d96e3a;
  }
}