.client {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.5rem;
  background: #fff;
  padding: 0.5rem 1rem 2rem;
}

.delivery-copy {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #4e7fea;
  cursor: pointer;
  margin: 0;
}

.delivery__input-container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.delivery__input-container p {
  margin: 0;
}