.delivery-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #000;
  margin: 0.5rem 0 0;
  padding-bottom: 0.5rem;
}

.delivery-form .delivery-title {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.delivery__container {
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 1rem;
}

.delivery-copy {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #4e7fea;
  cursor: pointer;
  margin: 0;
}

.delivery__input-container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.delivery__input-container p {
  margin: 0;
}

.delivery__change {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  cursor: pointer;
}

.delivery__input {
  width: 300px;
  height: 30px;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  border: 2px solid #000;
  margin-top: 0.5rem;
  background: #fff;
}

.delivery-span {
  font-weight: 500;
  color: #ff7f00;
}

.delivery__submit-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  width: 340px;
  height: 35px;
  background: #000;
  color: #fff;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  margin-top: 0.5rem;
}

.delivery-form .delivery__submit-button {
  margin-top: 1.5rem;
}

.delivery__submit-button_status {
  margin-top: 0.5rem;
}

.delivery__submit-button:hover {
  background: #ff7f00;
}

.delivery__submit-button:active {
  background: #d96e3a;
}

.delivery-receipt {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 2px solid #000;
  background: #fff;
  border-radius: 0.5rem;
  height: 35px;
  cursor: pointer;
  max-width: 330px;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.delivery-receipt:not(:first-child) {
  margin-top: 1rem;
}

.delivery-receipt svg {
  transition: all 0.4s ease-in-out;
}

.delivery-receipt:hover {
  border: 2px solid transparent;
  color: #fff;
  background: #ff7f00;
}

.delivery-receipt:hover svg {
  fill: #fff;
}

.delivery-receipt:active {
  border: 2px solid transparent;
  background: #d96e3a;
}

.delivery-receipt:active svg {
  fill: #fff;
}

.delivery-packages-err {
  color: red;
}

.delivery-packages {
  margin-top: 1.5rem;
}

.delivery-packages-number-input {
  width: 5rem;
  margin-right: 0.5rem;
}

.delivery-packages-size {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: max-content;
  padding-top: 0;
}

.delivery-packages-size-button {
  margin-top: 1.5rem;
}

.delivery-packages-select {
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  .delivery__submit-button:hover {
    background: #000;
  }

  .delivery__submit-button:active {
    background: #d96e3a;
  }

  .delivery-receipt {
    max-width: 100%;
    width: 100%;
  }

  .delivery-receipt:hover {
    border: 2px solid #000;
    color: #000;
    background: #fff;
  }

  .delivery-receipt:hover svg {
    fill: #000;
  }

  .delivery-receipt:active {
    background: #d96e3a;
    border: 2px solid #fff;
    color: #fff;
  }

  .delivery-receipt:active svg {
    fill: #fff;
  }
}