.cards {
  padding: 1rem 1.5rem 0;
}

.cards__container {
  background: #fff;
  border-radius: 0.5rem;
  margin: 0;
  padding: 1.5rem 1rem;
}

.cards__tile {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #000;
  margin: 0.5rem 0 0;
  padding-bottom: 0.5rem;
}

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem 0 0;
  padding: 0;
  list-style-type: none;
}

.cards__list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.cards__list-card {
  word-wrap: break-word;
  margin: 0;
  max-width: 70%;
}

.cards__list-card-sum {
  margin: 0;
}