.nav {
  position: fixed;
  left: 1rem;
  top: 6.5rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list-item {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.nav__list-item:hover {
  color: #ff7f00;
}

.nav__list-item:active {
  color: #d96e3a;
}

.nav__list-line {
  margin-top: 3rem;
}