.nav {
  position: fixed;
  left: 1rem;
  top: 6.5rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list-item {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.nav__list-item-order-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.nav__list-item-order {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  text-align: left;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.nav__list-item-order:hover {
  background: #ff7f00;
  color: #fff !important;
}

.nav__list-item-order:active {
  background: #d96e3a;
  color: #fff !important;
}

.nav__list-item_exit {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  border-radius: 1rem;
  width: 200px;
  height: 45px;
  margin-top: 2rem;
}

.nav__list-item_exit:hover {
  background: #ff7f00;
  color: #fff !important;
}

.nav__list-item_exit:active {
  background: #d96e3a;
  color: #fff !important;
}

.nav__list-item-link_active {
  color: #ff7f00;
}

.nav__list-item:hover {
  color: #ff7f00;
}

.nav__list-item:active {
  color: #d96e3a;
}

.nav__list-line {
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
}