.managers {
  padding: 1rem 1.5rem 0;
}

.managers__container {
  background: #fff;
  border-radius: 0.5rem;
  margin: 0;
  padding: 1.5rem 1rem;
}

.managers__title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #000;
  margin: 0.5rem 0 0;
  padding-bottom: 0.5rem;
}

.managers__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}